  <div>
    <img class="avatar align-item-right" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/cveneziani" />
  </div>
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1627133805103-ce2d34ccdd37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80);">
    <h1>My Lists</h1>
    <p>Here you can find all the best movies that I recommend you to watch once in a life</p>
  </div>
<div class="container">
<%= link_to 'Add a new list', new_list_path, class: 'btn btn-primary' %>
<br>
  <ul class="d-flex justify-content-between align-items-center m-5 font-8">
    <% @lists.each do |list| %>
      <li> <%= link_to list.name , list_path(list) %></li>
    <% end %>
  </ul>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
