<div>

  <div class="justify-content-center  p-5">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name %>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
